<!-- profile.component.html -->

<div class="container">
  <h1>Profil de l'utilisateur</h1>
  <div class="user-info">
    <div>
      <label>Nom :</label>
      <span>{{ user.nom }}</span>
    </div>
    <div>
      <label>Prénom :</label>
      <span>{{ user.prenom }}</span>
    </div>
    <div>
      <label>Adresse :</label>
      <span>{{ user.adresse }}</span>
    </div>
    <div>
      <label>Téléphone :</label>
      <span>{{ user.telephone }}</span>
    </div>
    <div>
      <label>Email :</label>
      <span>{{ user.email }}</span>
    </div>
  </div>
</div>
